*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right,rgb(119, 244, 119),rgb(241, 98, 241));
    color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordian-card{
    margin: 20px;
    padding: 20px;
    background-color: rgb(73, 73, 73);
}

.header{
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

.card-title{
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
}

p.card-info{
    width: 30rem;
    padding:20px;
    line-height: 1.5;
}